.map {
  height: 100%;
  width: 70%;
  margin: 0;
}

.full-height-width {
  height: 100%;
  width: 100%;
}

.row .row {
  margin: 0 -1.5em;
}

.col {
  padding: 0 0em;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

[class*=hint--] {
  position: relative;
  display: inline-block;
}

.feature-paging {
  display: flex;
}

.layer-title {
  padding-left: 10px;
}

.panel-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.scrollbar-x {
  overflow-x: 'auto'
}

.layer-list {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 12;
}

.basemap_button {
  position: fixed;
  top: 70px;
  left: 20px;
  z-index: 1;
}

.legends {
  top: 120px;
  position: absolute;
  left: 20px;
}
.loading-center{
  text-align: center!important;
  text-align: -webkit-center !important;

}
.zoom {
  position: fixed;
  left: 20px;
  top: 120px !important
}

.about-ico {
  top: 170px;
  position: absolute;
  left: 20px;
}
.MuiTableCell-root-226{

  padding: 0 !important;
  padding-left: 7% !important;
}
body{
  background-color:"#fafafa";
  position: inherit !important;
}

.formated{
  font-family: "Abril Fatface";
 
  color: grey;
  padding: 5%;
 
}
.center{
  text-align: center
}
#message-id{
  font-size: 18
}
@media screen and (min-width: 699px){
 .formated{
    font-size: 25;
  }
}
.ol-overlaycontainer-stopevent{
  display: none
}
.map-ct{
height:"250px" !important
}
.hoverPointer { cursor: pointer; cursor: hand; }
.pagination {
  display: inline-block;
 
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color:  #3648b0;
  border-color: #3648b0;
  background-color: #fff;
 
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
color:  #3648b0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
 
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  border-color: #3648b0;
 
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color:  #3648b0;
 
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {

  cursor: not-allowed;
}
.MuiTab-root-199 {
  width:100% !important
}

.MuiTab-root-223 {
    min-width: 300px !important
}
.datepicker-actions__input {
  padding: 0 !important ;
  border: 1px solid #fff !important;
  border-bottom: rgb(142, 142, 142) solid 1px !important;
  /* height: 15 !important; */
}
.datepicker{
  margin-bottom: 1!important ;
  color: grey !important ;
  font-family: "Roboto" !important ;
}
.datepicker-actions__input:focus {
  border-color: rgb(255, 255, 255)  !important ;
  outline: none;
  outline-color: none !important ;
  outline-style: none;
  outline-width: none !important ;
  /* height: 26!important; */
   box-shadow: inset 0 1px 1px rgb(255, 252, 252), 0 0 8px rgb(255, 255, 255)!important ;
}
.photo{
  margin-top: 10%; 

  padding: 10;
}
.para{
  color: grey !important ;
  font-family: "Roboto" !important ;
}
.input-file{
width:0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position :absolute;
z-index :-1;}
#img{
        width: 200px;
        height: 200px;
        margin-top: 10;
        border-radius: 8px;
        border: 1px solid ;
        padding: 5px;

}
span.Select-clear{
  display: none
}