    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles %}
{% load i18n %}

{% block title %} {{ block.super }} - {% trans "Basic Viewer" %} {% endblock %}
{% block head %}
    {% include "geonode/ext_header.html" %}
    {% include "geonode/app_header.html" %}
    {{ block.super }}

{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">

            <div id="root"></div>
        </div>
    </div>

{% endblock %}
{% block extra_script %}

    <script>
     var username="{{request.user.username}}"
    var password="{{request.user.username}}"
    var hash =btoa (`${username}:${password}`)
    var id= {{id}}


    </script>
  <script src="{{ STATIC_URL }}cartoview_workforce_manager/dist/ReactClient.bundle.js"></script>

{% endblock %}
